<footer class="" id="footer">
    <% const d = new Date(); %>
    <% let year = d.getFullYear(); %>
    <p>Blog built by<a href="https://github.com/Musyoka7"><i class="fab fa-github"></i>Musyoka7</a>.</p>
    <p>
        Copyright © <%= year%>
    </p>
  </footer>