<footer class="py-5 text-center text-body-secondary bg-body-tertiary" id="footer">
    <% const d = new Date(); %>
    <% let year = d.getFullYear(); %>
    <p>Blog built by<a href="https://github.com/Musyoka7">Musyoka7</a>.</p>
    <p class="mb-0">
        Copyright © <%= year%>
    </p>
  </footer>