<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog Post</title>
    <link rel="stylesheet" href="/styles/main.css">

</head>
<body>
    
    <h2>Edit Post</h2>

    <form action="/edit/<%=id %>" method="post">
        <input type="text" name= "title" value= "<%= title %>">
        <textarea type="text" name= "content" rows="10"><%= content %></textarea>
        <input type="text" name= "author" value="<%= author %>">
        <button class="full-width" type="submit">
            Save Post
        </button>
        
     </form>

     
</body>
</html>