<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog Post</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="container">
        <h1><%= heading %></h1>
    </div>

    <form action="/post" method="post">
        <input type="text" placeholder="Title" name="title" required>
        <textarea type="text" placeholder="Content" name="content" required rows="10"></textarea>
        <input type="text" placeholder="Author" name="author" required>
        <button class="full-width" type="submit">
            Create Post
        </button>
    </form>
    
</body>
</html>