#footer{
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: black;
    padding: 20px; /* Add padding to ensure the content is visible */
    height: auto;  /* Make sure the footer can grow with content */
    font-weight: bolder;
    
    

}
#heading{
    font-size: large;
}   
