#footer{
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: black;
    padding: 20px; /* Add padding to ensure the content is visible */
    height: auto;  /* Make sure the footer can grow with content */
    font-weight: bolder;
    
    

}
#header{
    font-size: large;
    text-align: center;
    color: black;
    text-emphasis: bold;
    text-decoration: none;
    font-size: 2.25rem;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;;
}   
p{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;;
    text-align: center;
    font-size: large;
}
body{
    font-family:"Playfair Display", Georgia, "Times New Roman", serif; 
}
